/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-drivdigital-block-grid {
	margin-bottom: 2rem;
	border: 1px solid $gray;
	padding-bottom: 0.5rem;

	.grid__label {
		padding: 0 0.5rem;
		background-color: $gray;
		em {
			font-style: normal;
			float: right;
		}
	}

	// Fix the padding on the element
	> .editor-inner-blocks {
		> .editor-block-list__layout {
			margin: 0;
			> div > .editor-block-list__block-edit {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
	}
	.actions {
		text-align: right;
	}
	.add-grid-element {
		border-radius: 4px;
		margin-right: 1rem;
		display: inline-block;
		padding: 0.5rem 1rem;
		background-color: $blue;
		color: $white;
		cursor: pointer;
		user-select: none;
		transition: background-color 0.25s;
		&:hover {
			background-color: darken($blue, 10%);
		}
	}
}
