/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
/*
.wp-block-drivdigital-block-grid  {
	display: grid;
	grid-gap: 1.625rem;
	&.grid-cols-2 {
		grid-template-columns: 1fr 1fr;
	}
	&.grid-cols-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&.grid-cols-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&.grid-cols-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	&.grid-cols-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	@media (max-width: 640px ) {
		&.grid-cols-2,
		&.grid-cols-3,
		&.grid-cols-4,
		&.grid-cols-5,
		&.grid-cols-6 {
			grid-template-columns: 100%;
		}
	}
}
*/
