/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-drivdigital-block-grid-element  {
	// background-color: $background;
  > .editor-rich-text {
		[data-is-placeholder-visible="true"] {
			// Placeholder styles
			// color: #ccc;
		}
  }
	.is-selected > div > &,
	.is-hovered > div > & {
		> .editor-rich-text {
			// Hover/focus
		}
	}
	> .editor-inner-blocks {
		padding: 0 0.5rem;
	}

	border: 1px solid $background;
	.grid-element__label {
		padding: 0 0.5rem;
		background-color: $background;
		em {
			font-style: normal;
			float: right;
		}
	}
}
